<section class="text-gray-700 body-font">
  <h2 class="text-center text-black font-bold text-4xl not-italic mt-24 mx-4">
    A través de estos links te puedes inscribir.
  </h2>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex items-center justify-center space-x-8">
      <a
        routerLink="estudiante"
        class="flex-shrink-0 font-bold py-2 px-8 focus:outline-none border-orange-gradient rounded-lg text-lg mt-10 sm:mt-0"
      >
        Quiero ser estudiante </a
      ><a
        routerLink="mentor"
        class="flex-shrink-0 font-bold py-2 px-8 focus:outline-none border-orange-gradient rounded-lg text-lg mt-10 sm:mt-0"
      >
        Quiero ser mentor
      </a>
    </div>
  </div>
</section>
