<section class="text-gray-700 body-font">
  <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
    <img
      class="lg:w-3/6 md:w-4/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="assets/images/plantilla-correo.png"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
        Comienza el proceso para convertirte en mentor
      </h1>
      <p class="mb-8 leading-relaxed">
        Nos complace darles la bienvenida al programa para participar como mentor, tenemos plena certeza que sus
        conocimientos como desarrolladores pueden cambiar la vida de muchas personas.
      </p>
      <p class="mb-8 leading-relaxed">
        Con este programa queremos aportar a las personas que buscan una oportunidad de capacitarse en el mundo de la
        tecnología y conseguir un empleo que cambie sus vidas y la de sus familia. Sigue las siguientes instrucciones
        para comenzar el proceso.
      </p>
      <p class="mb-8 leading-relaxed">
        Ten en cuenta que el seguir estos pasos nos garantizara que tienes conocimiento en como aportar a esta
        fundación. Estos pasos te capacitaran y te ayudaran a tener una imagen general de quienes somos y lo que
        hacemos.
      </p>
    </div>
  </div>
</section>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm"
      >
        1
      </div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Paso # 1</h2>
          <p class="leading-relaxed">
            Comienza leyendo nuestra
            <a
              href="https://www.notion.so/Gu-a-de-mentores-21b58595783c49bbaa7f051df52f3b6c"
              target="_blank"
              class="no-underline hover:underline text-orange-500"
              >Guía de mentores.</a
            >
            Esta guía te dara un vistazo de lo que hacemos y los roles que puedes tener dentro de la fundación, de
            manera que elijas con el que te sientas identificado.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm"
      >
        2
      </div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Paso # 2</h2>
          <p class="leading-relaxed">
            Conoce el proceso en este documento donde te explicamos el paso a paso, haz click aquí 👉
            <a
              href="https://www.notion.so/Proceso-selecci-n-de-mentores-70bb6f30adfd44ecaeae5f47abb97013"
              target="_blank"
              class="no-underline hover:underline text-orange-500"
              >proceso de selección</a
            >, una vez lo hagas solo sera estar bien empapado de la información y elegir como quieres apoyarnos.
          </p>
        </div>
      </div>
    </div>

    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm"
      >
        3
      </div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Paso # 3</h2>
          <p class="leading-relaxed">
            Si durante el proceso de selección quieres empezar a conocer la dinámica entre estudiantes y mentores únete
            al canal # aplicantes-itc de Discord con este
            <a class="no-underline hover:underline text-orange-500" href="https://discord.gg/fUkTEm4kk9" target="_blank"
              >link</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
