<section class="text-gray-700 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="text-center mb-20">
      <div class="flex justify-center title-font font-bold items-center text-black m-24">
        <img class="h-8 w-auto sm:h-10" src="/assets/images/beesoftlabs-logo.svg" alt="beesoftlabs logo" />
        <img
          class="h-8 w-auto sm:h-10 pt-2 ml-4"
          src="/assets/images/beesoftlabs-text-logo.svg"
          alt="beesoftlabs logo"
        />
      </div>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-orange">Nuestra misión</p>
      <h1 class="sm:text-2xl md:text-4xl lg:text-5xl font-bold text-center title-font text-black mb-4">
        Cambiar vidas a través de la programación
      </h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
        En <strong>BeeSoft Labs</strong>, antes llamado <strong>Code Your Future</strong> edición Colombia, nos
        interesamos por enseñar desarrollo web, principalmente a personas de bajos recursos económicos. Llevándolos a un
        nivel de conocimientos suficiente para obtener su primer empleo en una de las mejores industrias económicas de
        la actualidad. La industria de las tecnologías de la información.
      </p>
    </div>
  </div>
</section>

<section class="text-gray-700 body-font border-t border-gray-200">
  <div class="container px-5 py-24 mx-auto">
    <h2 class="sm:text-xl md:text-3xl lg:text-4xl font-bold text-center title-font text-black mb-24">
      Nuestro apasionado equipo
    </h2>
    <div class="flex flex-wrap -m-4 justify-center">
      <div
        class="flex-no-wrap sm:w-1/2 md:w-1/3 lg:w-1/4 lg:mb-0 p-4 black-and-withe"
        *ngFor="let member of team; index as i"
      >
        <div class="h-full text-center">
          <img
            alt="profile-photo"
            class="w-32 h-32 mb-2 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
            [src]="member.avatarUrl"
          />
          <h2 class="text-gray-900 font-semibold title-font text-xl">{{ member.name }}</h2>
          <span
            ><a class="text-black font-bold text-sm">{{ member.position }}</a>
            <!--            |-->
            <!--            <a class="text-gray-500 leading-relaxed hover:text-black cursor-pointer">Bio</a>-->
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h2 class="flex-grow sm:pr-16 sm:text-2xl md:text-4xl lg:text-5xl font-extrabold title-font text-black">
        Únete a nuestro equipo de voluntarios
      </h2>
      <a
        class="flex-shrink-0 font-bold py-2 px-8 focus:outline-none border-orange-gradient rounded-lg text-lg mt-10 sm:mt-0"
        routerLink="/es/aplica-ahora"
      >
        Más info.
      </a>
    </div>
  </div>
</section>
