<div>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h1 class="text-gray-900 text-6xl title-font font-bold mb-4">
            Aprende <br />
            desarrollo web <br />
            <span
              class="bg-gradient-to-r from-red-500 to-orange-500 text-gradient"
            >
              Full Stack
            </span>
          </h1>
          <div class="flex mb-4"></div>

          <div class="flex">
            <button
              class="flex left-auto ml-auto border border-orange-500 border-2 font-bold py-2 px-6 text-black focus:outline-none hover:bg-orange-600 rounded"
            >
              <a href="">
                Aplica ahora
              </a>
            </button>
          </div>
        </div>
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/500x500"
        />
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="text-center mb-20">
      <h2
        class="text-center bg-gradient-to-r from-red-500 to-orange-500 text-gradient font-bold text-4xl"
      >
        Metodología
      </h2>
      <p
        class="text-center text-black font-bold text-4xl not-italic text-5xl pt-12"
      >
        Conoce el camino para ser Full Stack
      </p>
      <p
        class="text-justify text-gray-600 text-base not-italic font-normal xl:w-2/3 lg:w-3/5 mx-auto pt-12 px-12"
      >
        ¿Fácil? No. ¿Imposible? No con la guía correcta. Eso hacemos en BeeSoft
        Labs. Te guiamos de la mano de expertos de la industria con años de
        experiencia, para que las bases en tu camino ninja sean solidas y te
        permitan entrar a uno de los mejores mercados laborales del mundo.
      </p>
    </div>
    <div class="pb-5 px-0 py-0 mx-auto">
      <div class="flex flex-wrap">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="/assets/laptop.PNG"
        />
        <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-0 sm:py-12">
          <div
            class="h-full w-10 absolute inset-0 flex items-center justify-center"
          ></div>
          <div class="flex-grow pl-4 mb-12">
            <p class="text-2xl text-black font-bold">100% remoto</p>
            <p class="font-normal text-base not-italic text-gray-600">
              Clases virtuales cada semana.
            </p>
          </div>

          <div class="flex-grow pl-4 mb-12">
            <p class="text-2xl text-black font-bold">Guía paso a paso</p>
            <p class="font-normal text-base not-italic text-gray-600">
              Retos por semana para alcanzar tu meta.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12">
            <p class="text-2xl text-black font-bold">Soporte</p>
            <p class="font-normal text-base not-italic text-gray-600">
              Mentores y voluntarios están disponibles para ayudarte a entender
              este hermoso mundo de la programación.
            </p>
          </div>

          <div class="flex-grow pl-4 mb-12">
            <p class="text-2xl text-black font-bold">Syllabus</p>
            <p class="font-normal text-base not-italic text-gray-600">
              Como el grimorio de Harry o Asta, el syllabus sera tu aliado para
              aprender la magia de la programación moderna.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="text-center mb-20">
      <h2
        class="text-center bg-gradient-to-r from-red-500 to-orange-500 text-gradient font-bold text-4xl"
      >
        Stack
      </h2>
      <p
        class="text-center text-black font-bold text-4xl not-italic text-5xl pt-12"
      >
        Tecnologías que enseñamos
      </p>
    </div>
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <p
            class="text-left text-black font-bold text-2xl not-italic text-4xl pt-12"
          >
            Git y Github
          </p>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">Versionamiento</p>
            <p class="font-normal text-base not-italic text-gray-600">
              Viaja en el tiempo como en Back To The Future con Git.
            </p>
          </div>

          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Despliegue
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Publica tu trabajo para que todos lo vean y trabaja con mas
              personas.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">Open Source</p>
            <p class="font-normal text-base not-italic text-gray-600">
              Colabora con la comunidad de desarrollo aportando y mejorando
              código.
            </p>
          </div>
        </div>
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/400x400"
        />
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/400x400"
        />
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <p
            class="text-left text-black font-bold text-2xl not-italic text-4xl pt-12"
          >
            HTML5
          </p>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">Estructura de una web</p>
            <p class="font-normal text-base not-italic text-gray-600">
              Aprende a caminar antes de correr. La estructura de una web te
              acompañara toda la vida.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Semántica
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Un recorrido completo por los tags ( etiquetas ) de html y su
              correcto uso.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <p
            class="text-left text-black font-bold text-2xl not-italic text-4xl pt-12"
          >
            CSS
          </p>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">Maquetación</p>
            <p class="font-normal text-base not-italic text-gray-600">
              CSS te da el poder visual que necesitas para que tus diseños no
              sean uno más.
            </p>
          </div>

          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Responsive
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Crea diseños que se adaptan a cualquier diseño de pantalla.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Preprocesadores y FrameWorks CSS
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              CSS con super poderes para crear diseños a la velocidad de la luz.
            </p>
          </div>
        </div>
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/400x400"
        />
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/400x400"
        />
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <p
            class="text-left text-black font-bold text-2xl not-italic text-4xl pt-12"
          >
            JavaScript
          </p>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Condicionales y arreglos
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              ¿Ser o no ser esa es la cuestión. Manipula datos como un pro
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Objetos y el navegador
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Creación de objetos y manejo de los mismos. JavaScript en el
              navegador.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              ES6 y superiores
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Novedades del lenguaje que lo han convertido en uno de los mas
              usados.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Asyncronismo y peticiones http
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Mas novedades del lenguaje que lo convierten en una poderosa
              herramienta.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <p
            class="text-left text-black font-bold text-2xl not-italic text-4xl pt-12"
          >
            React.js
          </p>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">JSX y componentes</p>
            <p class="font-normal text-base not-italic text-gray-600">
              Sugar syntax que luce como HTML y componentes que se arman como
              legos.
            </p>
          </div>

          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Manejo de eventos y estados
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Reacciona a los eventos que ocurren del lado del cliente y
              manipula los estados de la aplicación.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Ciclos de vida y routing
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Con la vida de los componentes si podemos jugar y el routing hace
              de react una herramienta super rápida.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Fetching data
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Permite que los efectos se actualicen en respuesta a los cambios
              de los props.
            </p>
          </div>
        </div>
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/400x400"
        />
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/400x400"
        />
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <p
            class="text-left text-black font-bold text-2xl not-italic text-4xl pt-12"
          >
            Node.js
          </p>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Node y Express
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              JavaScript del lado del servidor con Node y su Framework
              Express.js.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              CRUD, Middlewares y otros
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Crear, leer, actualizar y borrar desde el servidores. Entendiendo
              los métodos http.
            </p>
          </div>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              API rest y despliegue en servidores
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Entender, crear y desplegar una API rest en un servidor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <p
            class="text-left text-black font-bold text-2xl not-italic text-4xl pt-12"
          >
            Bases de datos SQL y No SQL
          </p>
          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              Creación y modelado en bases de datos relacionales
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              ¿Ser o no ser? esa es la cuestión. Manipula datos como un pro.
            </p>
          </div>

          <div class="flex-grow pl-4 mb-12 text-left">
            <p class="text-2xl text-black font-bold">
              LOREM IPSUM MongoDB
            </p>
            <p class="font-normal text-base not-italic text-gray-600">
              Lorem ipsum
            </p>
          </div>
        </div>
        <img
          alt="ecommerce"
          class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
          src="https://dummyimage.com/400x400"
        />
      </div>
    </div>
  </section>
  <section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h2
          class="text-center bg-gradient-to-r from-red-500 to-orange-500 text-gradient font-bold text-4xl"
        >
          + habilidades
        </h2>
        <p
          class="text-center text-black font-bold text-4xl not-italic text-5xl pt-12"
        >
          Habilidades que profundizaremos
        </p>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div
          class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center"
        >
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
              Trabajo en equipo
            </h2>
            <p class="leading-relaxed text-base">
              Con amigos todo va mejor
            </p>
          </div>
        </div>
        <div
          class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center"
        >
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
              Comunicación
            </h2>
            <p class="leading-relaxed text-base">
              Entiende y haste entender de manera correcta y profesional.
            </p>
          </div>
        </div>
        <div
          class="p-4 md:w-1/3 md:mb-0 mb-6 flex flex-col text-center items-center"
        >
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">
              Habla en publico
            </h2>
            <p class="leading-relaxed text-base">
              Habla en publico como un Rock Star.
            </p>
          </div>
        </div>
      </div>
      <button
        class="flex left-auto ml-auto border border-orange-500 border-2 font-bold py-2 px-6 text-black focus:outline-none hover:bg-orange-600 rounded"
      >
        <a href="">
          Aplica ahora
        </a>
      </button>
    </div>
  </section>
</div>
