<section class="py-8 mx-12 grid grid-cols-1 gap-4 h-screen md:h-auto lg:grid-cols-2 lg:mx-24 lg:my-12">
  <div class="text-center md:mb-12 lg:text-left">
    <p class="text-gray-900 text-4xl mt-10 mb-8 font-bold md:text-5xl lg:text-6xl">
      Aprende<br />
      desarrollo web<br />
      <span class="orange-gradient">Full Stack</span>
    </p>
    <a
      routerLink="/es/aplica-ahora"
      class="font-bold text-gray-900 py-2 px-8 m-auto mt-16 focus:outline-none border-orange-gradient rounded-lg text-lg ml-0"
    >
      Aplica ahora
    </a>
  </div>
  <div class="flex justify-center">
    <img alt="welcome image" class="w-full md:w-3/5 md:my-2 mt-0 lg:w-full" src="/assets/home/beesoft-home.svg" />
  </div>
</section>

<section class="my-8 mx-12 grid grid-cols-1 gap-4 lg:mx-24">
  <div class="text-center pb-12">
    <h2 class="font-bold text-center text-xl md:text-4xl">
      <span class="orange-gradient">Metodología</span>
    </h2>
    <p class="text-center text-gray-900 font-extrabold not-italic text-2xl pt-11 md:text-5xl">
      Conoce el camino para ser Full Stack
    </p>
    <p class="text-justify m-auto text-gray-600 text-base not-italic font-normal md:w-3/4 pt-12 px-11">
      ¿Fácil? No. ¿Imposible? No con la guía correcta. Eso hacemos en
      <strong class="text-gray-900">BeeSoft Labs</strong>. Te guiamos de la mano de expertos de la industria con años de
      experiencia, para que las bases en tu camino ninja sean solidas y te permitan entrar a uno de los mejores mercados
      laborales del mundo.
    </p>
  </div>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
    <img alt="laptop" class="w-full" src="/assets/home/laptop-home.svg" />
    <div class="text-center lg:text-left lg:w-3/4">
      <div class="lg:pl-4 mb-8">
        <p class="text-2xl text-gray-900 font-bold">100% remoto</p>
        <p class="font-normal text-justify text-base not-italic text-gray-600 md:text-center lg:text-justify">
          Clases virtuales cada semana con los mentores más tesos.
        </p>
      </div>

      <div class="lg:pl-4 mb-8">
        <p class="text-2xl text-gray-900 font-bold">Guía paso a paso</p>
        <p class="font-normal text-justify text-base not-italic text-gray-600 md:text-center lg:text-justify">
          Nuevos retos cada semana para alcanzar tu meta.
        </p>
      </div>
      <div class="lg:pl-4 mb-8">
        <p class="text-2xl text-gray-900 font-bold">Soporte</p>
        <p class="font-normal text-justify text-base not-italic text-gray-600 md:text-center lg:text-justify">
          Mentores y voluntarios están disponibles para ayudarte a entender este hermoso mundo de la programación.
        </p>
      </div>

      <div class="lg:pl-4 mb-8">
        <p class="text-2xl text-gray-900 font-bold">Syllabus</p>
        <p class="font-normal text-justify text-base not-italic text-gray-600 md:text-center lg:text-justify">
          Como el grimorio de Harry o Asta, el syllabus sera tu aliado para aprender la magia de la programación
          moderna.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="text-center my-8 mx-12 lg:mx-24">
  <h2 class="text-center font-bold text-xl md:text-4xl">
    <span class="blue-gradient">Stack</span>
  </h2>
  <p class="text-center text-gray-900 font-extrabold not-italic text-2xl pt-11 md:text-5xl">
    Tecnologías que enseñamos
  </p>
</div>

<section class="mx-12 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:mx-24 lg:my-20 lg:gap-12">
  <div class="flex justify-center items-center lg:hidden">
    <img alt="git and github" class="w-96 mt-8 mb-8" src="/assets/home/github-home.svg" />
  </div>
  <div class="">
    <div class="flex justify-center items-center mb-8 lg:justify-start">
      <div class="box-wrapper mt-8">
        <div class="box">
          <img src="/assets/images/github-icon.svg" class="z-40" alt="github-icon" />
        </div>
      </div>
      <div class="flex items-center">
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/git-icon.svg" class="z-40" alt="git-icon" />
          </div>
        </div>
        <p class="text-gray-900 font-bold ml-2 text-2xl">Git y GitHub</p>
      </div>
    </div>
    <div class="lg:w-10/12">
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Versionamiento</p>
        <p class="font-normal text-justify text-gray-600 md:text-center lg:text-justify">
          Viaja en el tiempo como en Back To The Future con Git.
        </p>
      </div>

      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Despliegue</p>
        <p class="font-normal text-base text-justify text-gray-600 md:text-center lg:text-justify">
          Publica tu trabajo para que todos lo vean y trabaja con mas personas.
        </p>
      </div>
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Open Source</p>
        <p class="font-normal text-base text-justify text-gray-600 md:text-center lg:text-justify">
          Colabora con la comunidad de desarrollo aportando y mejorando código.
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex justify-center items-center lg:w-auto hide md:hidden lg:block lg:flex lg:justify-center lg:items-center"
  >
    <img alt="git and github" class="w-96 mt-8 lg:m-0" src="/assets/home/github-home.svg" />
  </div>
</section>

<section class="mx-12 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:mx-24 lg:my-20 lg:gap-12">
  <div class="flex justify-center items-center lg:flex lg:justify-center lg:items-center">
    <img alt="html image" src="/assets/home/html-home.svg" class="w-96 mt-8 mb-8 lg:block lg:m-0" />
  </div>
  <div class="">
    <div class="flex justify-center items-center mb-8 lg:justify-start">
      <div class="box-wrapper">
        <div class="box">
          <img src="/assets/images/html5-icon.svg" class="z-40" alt="html-icon" />
        </div>
      </div>
      <p class="text-gray-900 font-bold not-italic ml-2 md:ml-8 text-2xl md:text-4xl">HTML</p>
    </div>
    <div class="lg:w-10/12">
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Estructura web</p>
        <p class="font-normal text-base text-justify text-gray-600 md:text-center lg:text-justify">
          Aprende a caminar antes de correr. La estructura de una web te acompañara toda la vida.
        </p>
      </div>
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Semántica</p>
        <p class="font-normal text-base text-justify text-gray-600 md:text-center lg:text-justify">
          Un recorrido completo por los tags (etiquetas) de html y su correcto uso.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mx-12 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:mx-24 lg:my-20 lg:gap-12">
  <div class="flex justify-center items-center lg:hidden">
    <img alt="CSS" class="w-96 mt-8 mb-8" src="/assets/home/home-css.svg" />
  </div>
  <div class="">
    <div class="flex justify-center items-center mb-8 lg:justify-start">
      <div class="box-wrapper">
        <div class="box">
          <img src="/assets/images/css3-icon.svg" class="z-40" alt="css3-icon" />
        </div>
      </div>
      <p class="text-gray-900 font-bold not-italic ml-2 md:ml-8 text-2xl md:text-4xl">CSS</p>
    </div>
    <div class="lg:w-10/12">
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Maquetación</p>
        <p class="font-normal text-justify text-gray-600 md:text-center lg:text-justify">
          CSS te da el poder visual que necesitas para que tus diseños no sean uno más.
        </p>
      </div>

      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Responsive</p>
        <p class="font-normal text-justify not-italic w-auto text-gray-600 md:text-center lg:text-justify">
          Crea diseños que se adaptan a cualquier diseño de pantalla.
        </p>
      </div>
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Preprocesadores y Frameworks CSS</p>
        <p class="font-normal text-justify not-italic w-auto text-gray-600 md:text-center lg:text-justify">
          CSS con super poderes para crear diseños a la velocidad de la luz.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center lg:flex lg:justify-center lg:items-center hide md:hidden lg:block">
    <img alt="CSS" class="w-96 mt-8 mb-8" src="/assets/home/home-css.svg" />
  </div>
</section>

<section class="mx-12 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:mx-24 lg:my-20 lg:gap-12">
  <div class="flex justify-center items-center lg:block lg:flex lg:justify-center lg:items-center lg:block">
    <img alt="JavasScript" src="/assets/home/home-javascript.gif" class="w-96 mt-8 mb-8 lg:m-0" />
  </div>
  <div class="">
    <div class="flex justify-center items-center mb-8 lg:justify-start">
      <p class="text-gray-900 font-bold mr-2 text-2xl">JavaScript</p>
      <div class="box-wrapper">
        <div class="box">
          <img src="/assets/images/javascript-icon.svg" class="z-40" alt="javascript-icon" />
        </div>
      </div>
      <div class="flex items-center">
        <div class="box-wrapper mt-8">
          <div class="box">
            <img src="/assets/images/typescript-icon.svg" class="z-40" alt="typescript-icon" />
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-10/12">
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">TypeScript</p>
        <p class="font-normal text-justify text-gray-600 md:text-center lg:text-justify">
          TypeScript convierte a JavaScript en tipado y lo lleva a la altura de lenguajes tradicionales.
        </p>
      </div>

      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">ES6 y superiores</p>
        <p class="font-normal text-justify not-italic w-auto text-gray-600 md:text-center lg:text-justify">
          Novedades del lenguaje que lo han convertido en uno de los más usados.
        </p>
      </div>
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Asincronismo y peticiones</p>
        <p class="font-normal text-justify not-italic w-auto text-gray-600 md:text-center lg:text-justify">
          Más novedades del lenguaje que lo convierten en una poderosa herramienta.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mx-12 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:mx-24 lg:my-20 lg:gap-12">
  <div class="flex justify-center items-center lg:hidden">
    <img alt="framework image" class="w-96 mt-8 mb-8" src="/assets/home/home-angular.svg" />
  </div>
  <div class="">
    <div class="flex justify-center items-center mb-8 lg:justify-start">
      <div class="box-wrapper">
        <div class="box">
          <img src="/assets/images/angular-icon.svg" class="z-40" alt="angular-icon" />
        </div>
      </div>
      <p class="text-gray-900 font-bold not-italic ml-2 md:ml-8 text-2xl md:text-4xl">Angular</p>
    </div>
    <div class="lg:w-10/12">
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Framework</p>
        <p class="font-normal text-justify text-gray-600 md:text-center lg:text-justify">
          La web repotenciada, ordenada, escalable y mantenible con este poderoso framework Front-End.
        </p>
      </div>

      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Modulos</p>
        <p class="font-normal text-justify not-italic w-auto text-gray-600 md:text-center lg:text-justify">
          Construye aplicaciones modulares que se componen de bloques independientes con parte de la aplicación o
          comportamientos.
        </p>
      </div>
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Componentes</p>
        <p class="font-normal text-justify not-italic w-auto text-gray-600 md:text-center lg:text-justify">
          Ten el control total de la vista de tu aplicación con los componentes y su ciclo de vida.
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex justify-center items-center hide md:hidden lg:block lg:flex lg:justify-center lg:items-center lg:block"
  >
    <img alt="framework image" class="w-96 mt-8 mb-8" src="/assets/home/home-angular.svg" />
  </div>
</section>

<section class="mx-12 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:mx-24 lg:my-20 lg:gap-12">
  <div class="flex justify-center items-center">
    <img alt="node" src="/assets/home/home-node.svg" class="w-96 mt-8 mb-8 lg:block" />
  </div>
  <div class="">
    <div class="flex justify-center items-center mb-8 lg:justify-start">
      <p class="text-gray-900 font-bold mr-2 text-2xl">Node.js</p>
      <div class="box-wrapper">
        <div class="box">
          <img src="/assets/images/nodejs-icon.svg" class="z-40" alt="nodejs-icon" />
        </div>
      </div>
      <div class="flex items-center">
        <div class="box-wrapper mt-8">
          <div class="box">
            <img src="/assets/images/nestjs-icon.svg" class="z-40" alt="nestjs-icon" />
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-10/12">
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">Node.js y Nest.JS</p>
        <p class="font-normal text-justify text-gray-600 md:text-center lg:text-justify">
          El más poderoso, moderno y progresivo framework de Node.js para crear aplicaciones del lado del servidor,
          eficientes, confiables y escalables.
        </p>
      </div>

      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">CRUD, Middlewares y otros</p>
        <p class="font-normal text-justify not-italic w-auto text-gray-600 md:text-center lg:text-justify">
          Crear, leer, actualizar y borrar desde el servidor. Entendiendo los métodos HTTP.
        </p>
      </div>
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">API rest y despliegue en servidores</p>
        <p class="font-normal text-justify not-italic w-auto text-gray-600 md:text-center lg:text-justify">
          Entender, crear y desplegar una API rest en un servidor.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mx-12 grid grid-cols-1 gap-4 lg:grid-cols-2 lg:mx-24 lg:my-20 lg:gap-12">
  <div class="flex justify-center items-center lg:hidden">
    <img alt="databases image" class="w-96 mt-8 lg:w-auto" src="/assets/home/home-database.svg" />
  </div>
  <div class="">
    <div class="flex justify-center items-center mb-8 lg:justify-start">
      <div class="box-wrapper mt-8">
        <div class="box">
          <img src="/assets/images/postgresql-icon.svg" class="z-40" alt="postgresql-icon" />
        </div>
      </div>
      <div class="flex items-center">
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/prisma-icon.svg" class="z-40" alt="prisma-icon" />
          </div>
        </div>
        <p class="text-gray-900 font-bold ml-2 text-2xl">Base de datos</p>
      </div>
    </div>
    <div class="lg:w-10/12">
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">
          Prisma, un ORM de nueva generación para Node.js y TypeScript
        </p>
        <p class="font-normal text-justify text-gray-600 md:text-center lg:text-justify">
          Crea y modela bases de datos SQL como un pro con prisma.io
        </p>
      </div>
      <div class="mb-5">
        <p class="text-2xl text-center text-gray-900 font-bold lg:text-left">PostgreSQL</p>
        <p class="font-normal text-base text-justify text-gray-600 md:text-center lg:text-justify">
          Un potente sistema de base de datos relacional de objetos de código abierto con más de 30 años de desarrollo
          activo.
        </p>
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center hide md:hidden lg:block lg:flex lg:justify-center lg:items-center">
    <img alt="databases image" class="w-96 mt-8 lg:w-auto" src="/assets/home/home-database.svg" />
  </div>
</section>

<div class="mx-12 my-8 grid grid-cols-1 gap-4 lg:mx-24">
  <h2 class="text-center font-bold text-xl">
    <span class="purple-gradient">+ habilidades</span>
  </h2>
  <p class="text-center text-gray-900 font-extrabold text-2xl pt-11">Habilidades que profundizaremos</p>
</div>

<section class="mx-12 grid grid-cols-1 gap-4 lg:mx-0 lg:my-12">
  <div class="lg:flex lg:justify-center lg:my-8">
    <div class="md:my-8 lg:w-full">
      <div class="flex justify-center items-center">
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/teamwork-icon.svg" class="z-40" alt="teamwork-icon" />
          </div>
        </div>
      </div>
      <p class="text-2xl text-center text-gray-900 font-bold">Trabajo en equipo</p>
      <p class="font-normal text-base text-justify text-gray-600 md:mx-20 md:text-center">
        Con amigos todo va mejor. Pero programar con amigos, va genial!
      </p>
    </div>
    <div class="md:my-8 lg:w-full">
      <div class="flex justify-center items-center">
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/comunication-icon.svg" class="z-40" alt="comunication-icon" />
          </div>
        </div>
      </div>
      <p class="text-2xl text-center text-gray-900 font-bold">Comunicación</p>
      <p class="font-normal text-base text-justify text-gray-600 md:mx-20 md:text-center">
        Entiende y haste entender de manera correcta y profesional.
      </p>
    </div>
    <div class="md:my-8 lg:w-full">
      <div class="flex justify-center items-center">
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/public_speaking-icon.svg" class="z-40 h-20" alt="public_speaking-icon" />
          </div>
        </div>
      </div>
      <p class="text-2xl text-center text-gray-900 font-bold">Habla en publico</p>
      <p class="font-normal text-base text-justify text-gray-600 md:mx-20 md:text-center">
        Habla en publico como un Rock Star.
      </p>
    </div>
  </div>

  <div class="flex justify-center mb-12">
    <a
      routerLink="/es/aplica-ahora"
      class="flex-shrink-0 font-bold py-2 px-8 focus:outline-none border-orange-gradient rounded-lg text-lg mt-10 sm:mt-0 md:my-12"
    >
      Aplica ahora
    </a>
  </div>
</section>
