<section class="py-24 mx-12 flex justify-evenly flex-col md:flex-row">
  <div class="relative flex flex-col md:block">
    <p class="text-black text-4xl text-center font-bold mb-4 md:text-5xl lg:text-6xl md:text-left">
      Aprende <br />
      desarrollo web <br />
      <span class="bg-gradient-to-r from-red-600 via-red-600 to-yellow-400 text-gradient"> Full Stack </span>
    </p>
    <a
      routerLink="/es/aplica-ahora"
      class="font-bold py-2 px-8 m-auto focus:outline-none border-orange-gradient rounded-lg text-lg md:mt-0 md:absolute md:bottom-0 md:left-0"
    >
      Aplica ahora
    </a>
  </div>

  <img alt="welcome" class="object-center w-96 mt-8 self-center md:w-auto" src="/assets/home/beesoft-home.svg" />
</section>

<div class="text-center pb-12 mx-12">
  <h2 class="text-center bg-gradient-to-r from-red-500 to-orange-500 text-gradient font-bold text-xl md:text-4xl">
    Metodología
  </h2>
  <p class="text-center text-black font-extrabold not-italic text-2xl pt-11 md:text-5xl">
    Conoce el camino para ser Full Stack
  </p>
  <p class="text-justify m-auto text-gray-600 text-base not-italic font-normal md:w-3/5 pt-12 px-11">
    ¿Fácil? No. ¿Imposible? No con la guía correcta. Eso hacemos en <strong class="text-black">BeeSoft Labs</strong>. Te
    guiamos de la mano de expertos de la industria con años de experiencia, para que las bases en tu camino ninja sean
    solidas y te permitan entrar a uno de los mejores mercados laborales del mundo.
  </p>
</div>

<section class="py-12 mx-12 items-center lg:justify-evenly flex-col lg:flex-row flex md:justify-justify">
  <img alt="laptop" class="object-center w-96 mt-8 self-center lg:w-auto" src="/assets/home/laptop-home.svg" />
  <div class="w-full text-center md:w-2/5 lg:text-left">
    <div class="flex-grow lg:pl-4 mb-8">
      <p class="text-2xl text-black font-bold">100% remoto</p>
      <p class="font-normal text-base not-italic text-gray-600">Clases virtuales cada semana.</p>
    </div>

    <div class="flex-grow lg:pl-4 mb-8">
      <p class="text-2xl text-black font-bold">Guía paso a paso</p>
      <p class="font-normal text-base not-italic text-gray-600">Retos por semana para alcanzar tu meta.</p>
    </div>
    <div class="flex-grow lg:pl-4 mb-8">
      <p class="text-2xl text-black font-bold">Soporte</p>
      <p class="font-normal text-base not-italic text-gray-600">
        Mentores y voluntarios están disponibles para ayudarte a entender este hermoso mundo de la programación.
      </p>
    </div>

    <div class="flex-grow lg:pl-4 mb-8">
      <p class="text-2xl text-black font-bold">Syllabus</p>
      <p class="font-normal text-base not-italic text-gray-600">
        Como el grimorio de Harry o Asta, el syllabus sera tu aliado para aprender la magia de la programación moderna.
      </p>
    </div>
  </div>
</section>

<div class="text-center pb-12 mx-12">
  <h2 class="text-center bg-gradient-to-r from-red-500 to-orange-500 text-gradient font-bold text-xl md:text-4xl">
    Stack
  </h2>
  <p class="text-center text-black font-extrabold not-italic text-2xl pt-11 md:text-5xl">Tecnologías que enseñamos</p>
</div>

<section class="pt-12 mx-12 items-center lg:justify-evenly flex-col lg:flex-row flex md:justify-justify">
  <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
    <div class="flex justify-center items-center">
      <div class="box-wrapper mt-16">
        <div class="box">
          <img src="/assets/images/github-icon.svg" class="z-40" alt="github-icon" />
        </div>
      </div>
      <div class="box-wrapper">
        <div class="box">
          <img src="/assets/images/git-icon.svg" class="z-40" alt="git-icon" />
        </div>
      </div>
      <p class="text-left text-black font-bold not-italic ml-2 md:ml-8 text-2xl md:text-4xl">Git y Github</p>
    </div>

    <div class="grid justify-items-stretch mt-8 lg:mt-0">
      <div class="pl-0 mb-5 text-left lg:justify-self-center w-auto lg:w-1/2 lg:pl-16 md:pl-10">
        <p class="text-2xl text-black font-bold text-center lg:text-left">Versionamiento</p>
        <p class="font-normal text-base not-italic text-gray-600 text-center lg:text-left">
          Viaja en el tiempo como en Back To The Future con Git.
        </p>
      </div>

      <div class="pl-0 mb-5 text-left lg:justify-self-center w-auto lg:w-1/2 lg:pl-16 md:pl-10">
        <p class="text-2xl text-black font-bold text-center lg:text-left">Despliegue</p>
        <p class="font-normal text-base not-italic text-gray-600 text-center lg:text-left">
          Publica tu trabajo para que todos lo vean y trabaja con mas personas.
        </p>
      </div>
      <div class="pl-0 mb-5 text-left lg:justify-self-center w-auto lg:w-1/2 lg:pl-16 md:pl-10">
        <p class="text-2xl text-black font-bold text-center lg:text-left">Open Source</p>
        <p class="font-normal text-base not-italic text-gray-600 text-center lg:text-left">
          Colabora con la comunidad de desarrollo aportando y mejorando código.
        </p>
      </div>
    </div>
  </div>
  <img alt="git and github" class="object-center w-96 mt-8 self-center lg:w-auto" src="/assets/home/github-home.svg" />
</section>

<section class="mt-7 items-center lg:justify-evenly flex-col lg:flex-row flex md:justify-justify">
  <img alt="html" src="/assets/home/html-home.svg" class="object-center w-96 mt-8 self-center lg:w-auto" />
  <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
    <div class="w-full flex justify-center flex-col items-center">
      <div class="flex items-center mt-8 mb-8 lg:mb-5 lg:mb-0">
        <p class="text-black font-bold not-italic mr-8 text-2xl md:text-4xl">HTML</p>
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/html5-icon.svg" class="z-40" alt="html5-icon" />
          </div>
        </div>
      </div>
      <div class="w-71">
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Estructura de una web</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Aprende a caminar antes de correr. La estructura de una web te acompañara toda la vida.
          </p>
        </div>
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Semántica</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Un recorrido completo por los tags (etiquetas) de html y su correcto uso.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mx-12 items-center lg:justify-evenly flex-col lg:flex-row flex md:justify-justify">
  <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
    <div class="w-full flex justify-center flex-col">
      <div class="w-9/12 flex justify-start items-center mt-8 mb-8 lg:mb-5 lg:mb-0">
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/css3-icon.svg" class="z-40" alt="css3-icon" />
          </div>
        </div>
        <p class="text-black font-bold not-italic ml-2 md:ml-8 text-2xl md:text-4xl">CSS</p>
      </div>
      <div class="w-71">
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Maquetación</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            CSS te da el poder visual que necesitas para que tus diseños no sean uno más.
          </p>
        </div>

        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Responsive</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Crea diseños que se adaptan a cualquier diseño de pantalla.
          </p>
        </div>
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Preprocesadores y Frameworks CSS</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            CSS con super poderes para crear diseños a la velocidad de la luz.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img alt="CSS" class="object-center w-96 mt-8 self-center lg:w-auto" src="/assets/home/home-css.svg" />
</section>

<section class="mx-12 items-center lg:justify-evenly flex-col lg:flex-row flex md:justify-justify">
  <img alt="JavasScript" src="/assets/home/home-javascript.gif" class="w-full mt-24 lg:w-1/2" />
  <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
    <div class="w-full flex justify-center flex-col items-center">
      <div class="flex justify-center items-center mt-8 mb-8 lg:mb-5 lg:mb-0">
        <p class="text-black font-bold not-italic mr-8 text-2xl md:text-4xl">JavaScript</p>
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/javascript-icon.svg" class="z-40" alt="javascript-icon" />
          </div>
        </div>
      </div>
      <div class="w-71">
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Condicionales y arreglos</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            ¿Ser o no ser? esa es la cuestión. Manipula datos como un pro.
          </p>
        </div>
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">ES6 y superiores</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Novedades del lenguaje que lo han convertido en uno de los más usados.
          </p>
        </div>
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Asincronismo y peticiones</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Más novedades del lenguaje que lo convierten en una poderosa herramienta.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mx-12 items-center lg:justify-evenly flex-col lg:flex-row flex md:justify-justify">
  <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
    <div class="w-full flex justify-center flex-col items-center">
      <div class="w-9/12 flex justify-start items-center mt-8 mb-8 lg:mb-5 lg:mb-0">
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/react-icon.svg" class="z-40" alt="react.js-icon" />
          </div>
        </div>
        <p class="text-black font-bold not-italic ml-2 md:ml-8 text-2xl md:text-4xl">React.js</p>
      </div>
      <div class="w-71">
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">JSX y componentes</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Sugar syntax que luce como HTML y componentes que se arman como legos.
          </p>
        </div>

        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Manejo de eventos y estados</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Reacciona a los eventos que ocurren del lado del cliente y manipula los estados de la aplicación.
          </p>
        </div>
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Ciclos de vida y routing</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Con la vida de los componentes si podemos jugar y el routing hace de react una herramienta super rápida.
          </p>
        </div>
      </div>
    </div>
  </div>
  <img alt="React-jss" class="object-center w-96 mt-8 self-center lg:w-auto" src="/assets/home/home-react.svg" />
</section>

<section class="mx-12 items-center lg:justify-evenly flex-col lg:flex-row flex md:justify-justify">
  <img alt="node" src="/assets/home/home-node.svg" class="object-center w-96 mt-8 self-center lg:w-auto" />
  <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
    <div class="w-full flex justify-center flex-col items-center">
      <div class="flex justify-center items-center mt-8 mb-8 lg:mb-5 lg:mb-0">
        <p class="text-black font-bold not-italic mr-8 text-2xl md:text-4xl">Node.js</p>
        <div class="box-wrapper">
          <div class="box">
            <img src="/assets/images/nodejs-icon.svg" class="z-40" alt="node.js-icon" />
          </div>
        </div>
      </div>
      <div class="w-71">
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">Node y Express</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            JavaScript del lado del servidor con Node y su Framework Express.js
          </p>
        </div>
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">CRUD, Middlewares y otros</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Crear, leer, actualizar y borrar desde el servidor. Entendiendo los métodos HTTP.
          </p>
        </div>
        <div class="flex-grow pl-0 mb-5 text-center lg:text-left">
          <p class="text-2xl text-black font-bold">API rest y despliegue en servidores</p>
          <p class="font-normal text-base not-italic w-auto text-gray-600">
            Entender, crear y desplegar una API rest en un servidor.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-12 mx-12 items-center lg:justify-evenly flex-col lg:flex-row flex md:justify-justify">
  <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
    <div class="flex justify-center items-center">
      <div class="box-wrapper mt-16">
        <div class="box">
          <img src="/assets/images/mongodb-icon.svg" class="z-40" alt="mongodb-icon" />
        </div>
      </div>
      <div class="box-wrapper">
        <div class="box">
          <img src="/assets/images/postgresql-icon.svg" class="z-40" alt="postgresql-icon" />
        </div>
      </div>
      <p class="text-left text-black font-bold not-italic ml-2 md:ml-8 text-2xl md:text-4xl">Bases de datos</p>
    </div>

    <div class="grid justify-items-stretch mt-8 lg:mt-0">
      <div class="pl-0 mb-5 text-left lg:justify-self-center w-auto lg:w-1/2">
        <p class="text-2xl text-black font-bold text-center lg:text-left">
          Creación y modelado en bases de datos SQL y No SQL
        </p>
        <p class="font-normal text-base not-italic text-gray-600 text-center lg:text-left">
          Manipula datos como un pro.
        </p>
      </div>

      <div class="pl-0 mb-5 text-left lg:justify-self-center w-auto lg:w-1/2">
        <p class="text-2xl text-black font-bold text-center lg:text-left">Elegir con base en el conocimiento</p>
        <p class="font-normal text-base not-italic text-gray-600 text-center lg:text-left">
          Aprenderás cuáles son las diferencias entre ambas bases de datos y en qué ocasiones debemos elegir un tipo u
          otro para nuestro proyecto.
        </p>
      </div>
    </div>
  </div>
  <img
    alt="git and github"
    class="object-center w-96 mt-8 self-center lg:w-auto"
    src="/assets/home/home-database.svg"
  />
</section>
<div class="text-center pb-12 mx-12 pt-24">
  <h2 class="text-center bg-gradient-to-r from-red-500 to-orange-500 text-gradient font-bold text-xl md:text-4xl">
    + habilidades
  </h2>
  <p class="text-center text-black font-extrabold not-italic text-2xl pt-11 md:text-5xl">
    Habilidades que profundizaremos
  </p>
</div>
<section class="pt-24 mx-12">
  <div class="flex flex-wrap justify-around sm:-m-4 -mx-4 -mb-10 -mt-4">
    <div class="flex justify-center items-center flex-col w-auto md:w-1/5">
      <div class="box-wrapper box-wrapper-md">
        <div class="box">
          <img src="/assets/images/teamwork.svg" class="z-40" alt="teamwork-icon" />
        </div>
      </div>
      <p class="text-2xl text-black font-bold text-center">Trabajo en equipo</p>
      <p class="font-normal text-base not-italic text-gray-600 text-center">Con amigos todo va mejor</p>
    </div>

    <div class="flex justify-center items-center flex-col w-auto md:w-1/5">
      <div class="box-wrapper box-wrapper-md">
        <div class="box">
          <img src="/assets/images/comunication.svg" class="z-40" alt="comunication-icon" />
        </div>
      </div>
      <p class="text-2xl text-black font-bold text-center">Comunicación</p>
      <p class="font-normal text-base not-italic text-gray-600 text-center">
        Entiende y haste entender de manera correcta y profesional.
      </p>
    </div>

    <div class="flex justify-center items-center flex-col w-auto md:w-1/5">
      <div class="box-wrapper box-wrapper-md">
        <div class="box">
          <img src="/assets/images/public_speaking.svg" class="z-40 h-24 stroke-2" alt="public_speaking-icon" />
        </div>
      </div>
      <p class="text-2xl text-black font-bold text-center">Habla en publico</p>
      <p class="font-normal text-base not-italic text-gray-600 text-center w-36">Habla en publico como un Rock Star.</p>
    </div>
  </div>

  <div class="flex justify-center m-24">
    <a
      routerLink="/es/aplica-ahora"
      class="flex-shrink-0 font-bold py-2 px-8 focus:outline-none border-orange-gradient rounded-lg text-lg mt-10 sm:mt-0"
    >
      Aplica ahora
    </a>
  </div>
</section>
