<section class="text-gray-700 body-font">
  <h2 class="text-center text-black font-bold text-4xl not-italic mt-24 mx-4">Contamos con los mejores sponsors</h2>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap items-center justify-center -m-4">
      <div class="lg:mb-0 m-12 p-4">
        <div class="h-full text-center">
          <img
            alt="ngConf"
            class="w-32 h-32 mb-8 object-cover object-center inline-block"
            src="/assets/sponsors/ng-conf.png"
          />
        </div>
      </div>
      <div class="lg:mb-0 m-12 p-4">
        <div class="h-full text-center">
          <img
            alt="wolox"
            class="w-32 h-32 mb-8 object-cover object-center inline-block"
            src="/assets/sponsors/wolox.jpg"
          />
        </div>
      </div>
      <div class="lg:mb-0 m-12 p-4">
        <div class="h-full text-center">
          <img
            alt="heroDevs"
            class="w-32 h-32 mb-8 object-cover object-center inline-block"
            src="/assets/sponsors/hero-devs.png"
          />
        </div>
      </div>
      <div class="lg:mb-0 m-12 p-4">
        <div class="h-full text-center flex items-center justify-center">
          <img
            alt="colmena"
            class="h-20 mb-8 object-cover object-center inline-block"
            src="/assets/sponsors/colmena.png"
          />
        </div>
      </div>
      <div class="lg:mb-0 m-12 p-4">
        <div class="h-full text-center">
          <img
            alt="thinkster"
            class="w-32 h-32 mb-8 object-cover object-center inline-block"
            src="/assets/sponsors/thinkster.png"
          />
        </div>
      </div>
      <div class="lg:mb-0 m-12 p-4">
        <div class="h-full text-center flex items-center justify-center">
          <img
            alt="grid"
            class="h-20 mb-8 object-cover object-center inline-block"
            src="/assets/sponsors/ag-grid.png"
          />
        </div>
      </div>
      <div class="lg:mb-0 m-12 p-4">
        <div class="h-full text-center flex items-center justify-center">
          <img
            alt="zack DeRose-"
            class="h-20 mb-8 object-cover object-center inline-block"
            src="/assets/sponsors/z-angular-square.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
<section class="flex 2xl:flex-row xl:flex-row lg:flex-row sm:flex-col flex-col items-center justify-around my-24 mx-0">
  <p
    class="lg:text-5xl lg:text-left sm:text-5xl sm:text-center text-3xl text-center not-italic text-black font-extrabold"
  >
    Conoce como ser un <br />
    sponsor
  </p>
  <a
    class="flex-shrink-0 self-center font-bold py-2 px-8 focus:outline-none border-orange-gradient rounded-lg text-lg my-24"
    routerLink="/es/donaciones"
  >
    Más info.
  </a>
</section>
