<div>
  <section class="text-gray-700 body-font">
    <h2 class="text-center text-black font-bold text-4xl not-italic mt-24">Contamos con los mejores sponsors</h2>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap items-center justify-center -m-4">
        <div class="lg:mb-0 m-12 p-4">
          <div class="h-full text-center">
            <img alt="ngConf" class="w-32 h-32 mb-8 object-cover object-center inline-block"
                 src="/assets/sponsors/ng-conf.png">
          </div>
        </div>
        <div class=" lg:mb-0 m-12 p-4">
          <div class="h-full text-center">
            <img alt="wolox" class="w-32 h-32 mb-8 object-cover object-center inline-block"
                 src="/assets/sponsors/wolox.jpg">
          </div>
        </div>
        <div class="lg:mb-0 m-12 p-4">
          <div class="h-full text-center">
            <img alt="heroDevs" class="w-32 h-32 mb-8 object-cover object-center inline-block"
                 src="/assets/sponsors/hero-devs.png">
          </div>
        </div>
        <div class="lg:mb-0 m-12 p-4">
          <div class="h-full text-center flex items-center justify-center">
            <img alt="heroDevs" class="h-20 mb-8 object-cover object-center inline-block"
                 src="/assets/sponsors/colmena.png">
          </div>
        </div>
        <div class="lg:mb-0 m-12 p-4">
          <div class="h-full text-center ">
            <img alt="heroDevs" class="w-32 h-32 mb-8 object-cover object-center inline-block"
                 src="/assets/sponsors/thinkster.png">
          </div>
        </div>
        <div class="lg:mb-0 m-12 p-4">
          <div class="h-full text-center flex items-center justify-center">
            <img alt="heroDevs" class="h-20 mb-8 object-cover object-center inline-block"
                 src="/assets/sponsors/ag-grid.png">
          </div>
        </div>
      </div>
      <hr class="mt-24">
      <div class="flex items-center my-24 mx-12">
        <p class="text-left text-black font-extrabold text-5xl not-italic ">Conoce como ser un <br> sponsor</p>
        <button
          class="flex left-auto ml-auto border border-orange-500 border-2 font-bold py-2 px-6 mx-24 text-black focus:outline-none hover:bg-orange-600 rounded"
        >
          <a href="/es/donaciones">
            Más info.
          </a>
        </button>
      </div>
    </div>
  </section>
</div>
