<header class="text-gray-700 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div class="lg:w-0 lg:flex-1">
      <a [routerLink]="'/' + lang" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img class="h-8 w-auto sm:h-10" src="/assets/images/beesoftlabs-logo.svg" alt="beesoftlabs logo" />
        <img
          class="h-8 w-auto sm:h-10 pt-2 ml-4"
          src="/assets/images/beesoftlabs-text-logo.svg"
          alt="beesoftlabs logo"
        />
      </a>
    </div>

    <ng-container
      *ngFor="let link of links; let last = last"
      class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
    >
      <a
        class="mr-5 hover:text-gray-900"
        routerLinkActive="font-bold"
        [class.bg-gradient-to-r]="last"
        [class.from-purple-700]="last"
        [class.to-pink-600]="last"
        [class.text-gradient]="last"
        [routerLink]="link.path"
        >{{ link.label }}</a
      >
    </ng-container>

    <a routerLink="/en" *ngIf="false && lang === 'es'">
      <img src="/assets/lang-en.svg" class="h-6 w-auto sm:h-6" alt="idioma ingles" />
    </a>
    <a routerLink="/es" *ngIf="lang === 'en'">
      <img src="/assets/lang-es.svg" class="h-6 w-auto sm:h-6" alt="idioma español" />
    </a>
  </div>
</header>
