<div>
  <section class="text-gray-700 body-font">
    <h2 class="text-center text-black font-bold text-4xl not-italic mt-24">
      Aliados que nos ayudan a cumplir el propósito de enseñar código
    </h2>
    <p class="text-center text-base font-bold text-2xl not-italic mt-12">
      Si no te sientes identificado con el perfil que tenemos en la fundación <br />
      no te preocupes nuestros aliados tienen programas que te ayudaran a encontrar lo que buscas.
    </p>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap items-center justify-center -m-4">
        <div class="lg:mb-0 m-12 p-4">
          <div class="h-full text-center">
            <a href="https://www.coderise.org/" target="_blank">
              <img
                alt="Coderise"
                class="w-32 h-32 mb-8 object-cover object-center inline-block"
                src="/assets/aliados/coderise.webp"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
