<section class="text-gray-700 body-font">
  <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
    <img
      class="lg:w-3/6 md:w-4/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="assets/images/plantilla-correo.png"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Inscríbete</h1>
      <p class="mb-8 leading-relaxed">
        Regresamos recargados para encontrar a esas personas que les apasiona la tecnología y quieren hacer parte de
        nuestra coherte 2022. Sigue estos pasos:
      </p>
    </div>
  </div>
</section>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm"
      >
        1
      </div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Paso # 1</h2>
          <p class="leading-relaxed">
            Comienza leyendo como es el perfil de las personas a las que buscamos ayudar
            <a href="https://prnt.sc/26ftlwe" target="_blank" class="no-underline hover:underline text-orange-500"
              >perfil estudiante BSL.</a
            >
            Este documento te dará un vistazo de lo que hacemos y te ayudara a saber si BeeSoft Labs es lo que
            necesitas.
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm"
      >
        2
      </div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Paso # 2</h2>
          <p class="leading-relaxed">
            Conoce el proceso en este documento donde te explicamos el paso a paso, haz click aquí 👉
            <a
              href="https://docs.google.com/document/d/1basV94A4ZeYTeK1JhFXc-FJT2IeZz7hY/edit?usp=sharing&ouid=100899154538856915176&rtpof=true&sd=true"
              target="_blank"
              class="no-underline hover:underline text-orange-500"
              >proceso de selección</a
            >, una vez lo hagas estarás listo para llenar el formulario.
          </p>
        </div>
      </div>
    </div>

    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm"
      >
        3
      </div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Paso # 3</h2>
          <p class="leading-relaxed">
            Diligencia el siguiente
            <a
              class="no-underline hover:underline text-orange-500"
              href="https://forms.gle/ZMN2gaaQHuR4VTHB6"
              target="_blank"
              >formulario</a
            >
            e inscribete para iniciar la 1era etapa
          </p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm"
      >
        4
      </div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Paso # 4</h2>
          <p class="leading-relaxed">
            Recuerda que estamos contigo desde la 1era etapa para resolver tus dudas ingresa al discord de
            <a class="no-underline hover:underline text-orange-500" href="https://discord.gg/7dgQUwn8Jb" target="_blank"
              >intro to coding</a
            >
            aquí estamos para responderte
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
