<section class="text-gray-700 body-font">
  <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
    <img
      class="lg:w-3/6 md:w-4/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="assets/images/plantilla-correo.png"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Inscripciones cerradas</h1>
      <p class="mb-8 leading-relaxed">
        Nuestras inscripciones han finalizado por el 2022, regresamos el otro año con otra convocatoria para brindar
        oportunidades a los que estan apasionados por aprender código.
      </p>
    </div>
  </div>
</section>
