<section class="text-gray-700 body-font">
  <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
    <img
      class="lg:w-3/6 md:w-4/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="assets/images/plantilla-correo.png"
    />
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Inscripciones cerradas</h1>
      <p class="mb-8 leading-relaxed">
        Nuestras inscripciones han cerrado por el momento. Sin embargo no creas que aquí termina todo!.Regístrate para
        participar en nuestra próxima cohorte.
      </p>
    </div>
  </div>
</section>
<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div
        class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-orange-500 text-white relative z-10 title-font font-medium text-sm"
      >
        1
      </div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <p class="leading-relaxed">
            Ingresa al siguiente
            <a
              href="https://connectamind.com/invite/4QeMTtkyv"
              target="_blank"
              class="no-underline hover:underline text-orange-500"
              >link</a
            >
            e inscríbete para estar en lista de espera
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
