<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex-grow">
    <div class="lg:w-2/3 flex flex-grow sm:flex-row sm:items-center items-start mx-auto">
      <h1 class="flex-col sm:pr-16 text-2xl font-medium title-font text-gray-900 text-justify">
        Usted puede ayudar a derribar las barreras que impiden que las personas adquieran las habilidades que necesitan
        para encontrar un trabajo que cambie sus vidas.
      </h1>
      <a
        href="https://vaki.co/es/vaki/beesoftlabs"
        target="_blank"
        class="flex-shrink-0 text-white bg-gradient-to-r from-red-500 to-orange-500 text-gradient border-2 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0"
      >
        Dona Ahora
      </a>
    </div>
  </div>
</section>
