<section class="flex flex-col justify-center items-center px-4 lg:px-24 lg:flex-row py-12">
  <div>
    <h1 class="text-4xl text-center font-bold lg:text-5xl lg:text-left">
      <span class="orange-gradient"> Estamos cambiando vidas </span>
    </h1>
    <p class="text-xl px-6 text-justify lg:pr-24 lg:pl-0 lg:text-left py-6">
      Tú puedes acabar con las barreras que impide a miles de personas adquirir las habilidades que necesitan para
      encontrar un empleo que cambie sus vidas.<br />

      En <strong>BeeSoft Labs</strong> formamos a las personas con lo necesario para obtener su primer empleo como
      desarrolladores de software.
    </p>
    <p class="text-xl px-6 text-justify lg:pr-24 lg:pl-0 lg:text-left py-6">Ahora puedes apoyarnos con cripmonedas</p>
  </div>
  <img class="" src="/assets/images/donations.svg" alt="donations" />
</section>
<hr />
<section class="flex flex-col px-24 flex py-12 lg:flex-row">
  <p class="text-4xl text-center font-bold tracking-tight md:text-5xl lg:text-left">
    Unete como donante<br />
    desde $10.000 pesos al mes
  </p>

  <a
    href="https://vaki.co/es/vaki/beesoftlabs"
    target="_blank"
    class="font-bold py-2 px-8 focus:outline-none border-orange-gradient rounded-lg text-lg h-auto my-12 mx-auto"
  >
    Dona en nuestra Vaki
  </a>
</section>
<section class="space-y-3 lg:space-y-0 space-x-3 items-center flex flex-col px-24 flex py-12 lg:flex-row">
  <img src="assets/images/bitcoin.png" class="h-12 w-12" />
  <div class="text-center lg:text-left">
    <p>Bitcoin (BTC)</p>
    <code>37t3sBPeURFtqPFz1YgdSosWj69VmQL4kG</code>
  </div>
</section>
<section class="space-y-3 lg:space-y-0 space-x-3 items-center flex flex-col px-24 flex py-12 lg:flex-row">
  <img src="/assets/images/ethereum.png" class="h-11.5 w-11.5" />
  <div class="text-center lg:text-left">
    <p>Ether (ETH)</p>
    <code>0xbef8158c8a95be53cb20232f275bfa989d49a292</code>
  </div>
</section>
